<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'miembros/css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <script src="{% static 'miembros/js/index.js' %}"></script>
    <link rel="icon" href="{% static 'miembros/img/iconopesa.ico' %}" type="image/png">
    <title>Gym Manager</title>
</head>
<body>

<!-- BARRA SUPERIOR -->
<div class="topbar">
    <span class="topbar-brand"><a href="{% url 'index' %}"><span class="gym">Gym</span><span class="manager">Manager</span></a></span>
    <div class="dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center gap-2 perfil-btn"
           href="#" role="button" data-bs-toggle="dropdown">
            <img src="{% static 'miembros/img/perfil.png' %}"
                 width="32" height="32"
                 class="perfil-img">
            <span class="perfil-nombre">{{nombre_usuario}}</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'perfil' %}">
                <i class="bi bi-person me-2"></i>Mi Perfil
            </a></li>
            <li><a class="dropdown-item" href="{% url 'editar perfil' %}">
                <i class="bi bi-pencil me-2"></i>Editar perfil
            </a></li>
            <li><a class="dropdown-item" href="{% url 'elegir gym' %}">
                <i class="bi bi-building me-2"></i>Elegir gimnasio
            </a></li>
            <li><a class="dropdown-item" href="{% url 'unirse_crear' %}">
                <i class="bi bi-building me-2"></i>Nuevo gimnasio
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="{% url 'cerrar sesion' %}">
                <i class="bi bi-plus-circle"></i>Cerrar sesión
            </a></li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR -->
        <div class="col-2 sidebar">
            <ul class="nav flex-column pt-3">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'miembros' %}"><i class="bi bi-people-fill"></i> Miembros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profesores' %}"><i class="bi bi-person-lines-fill"></i> Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clases' %}"><i class="bi bi-person-arms-up"></i> Clases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscripcion' %}"><i class="bi bi-person-fill-add"></i> Inscribir alumno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear clase' %}"><i class="bi bi-plus-circle"></i></i>Crear clase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear invitacion' %}"><i class="bi bi-envelope-arrow-up"></i> Crear invitación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendario' %}"><i class="bi bi-calendar-event"></i>Calendario</a>
                </li>

            </ul>
        </div>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="col-10">
            <div class="container mt-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>