<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Gym Manager</title>
</head>
<body>
    <h1 class="container">Bienvenido</h1>
    <ul>
        <li><a href="/miembros">Miembros</a></li>
        <li><a href="/profesores">Profesores</a></li>
        <li><a href="/clases">Clases</a></li>
        <li><a href="/miembros">Miembros</a></li>
        <li><a href="/miembros">Miembros</a></li>
    </ul>
    <div>
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>