{% extends "miembros/base.html" %}

{% block content %}

<div class="container mt-5">

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow">

<div class="card-header">
<h4 class="text-center">Mi perfil</h4>
</div>

<div class="card-body">

<p><strong>Email:</strong> {{ request.user.email }}</p>

<p><strong>Nombre:</strong> {{ perfil.nombre }}</p>

<p><strong>Apellido:</strong> {{ perfil.apellido }}</p>

<p><strong>Teléfono:</strong> {{ perfil.celular }}</p>

<p><strong>Dni:</strong> {{ perfil.dni }}</p>

<p><strong>Usuario desde:</strong> {{ perfil.fecha_registro|date:"d \\d\\e F \\d\\e Y" }}</p>

<a class="btn btn-primary" href="{% url 'editar perfil' %}">Editar perfil</a>

</form>
</div>

</div>

</div>

</div>

</div>

{% endblock %}